name: FarmaMedic CI Minimal

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check-project:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "npm"

      - name: Install dependencies
        run: npm install --legacy-peer-deps --no-fund --no-audit

      - name: Lint project
        run: npx expo lint

      - name: Run TypeScript check (si usas TS)
        run: npx tsc --noEmit || echo "No TypeScript errors"
